AZURE_STORAGE_CONTAINER=imaging

# Use one auth mode only
AZURE_STORAGE_CONNECTION_STRING=

AZURE_STORAGE_ACCOUNT=
AZURE_STORAGE_ACCOUNT_KEY=

DB_HOST=
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_SCHEMA=lab
APP_SESSION_SECRET=
